body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #000000;
}

.login-container {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.logo {
  width: 150px;
  margin-bottom: 15px;
}

.login-container h1 {
  margin-top: 0;
  color: #d00000;
  font-size: 24px;
}

.tagline {
  color: #555;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #d00000;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #a10000;
}

.note {
  font-size: 12px;
  margin-top: 20px;
  color: #888;
}
